@model Person

<div class="d-flex justify-content-between">
	<h2>Person Details</h2>
    <form asp-action="DeleteAPerson" method="post" style="display:inline;" onsubmit="return confirm('Are you sure?');">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>


<form asp-action="EditAPerson" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Gender</label>
        <select class="form-select" asp-for="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" pattern="^\d{10}$" title="Phone number must be exactly 10 digits" asp-for="PhoneNumber" required />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label class="form-label">Birth Place</label>
        <input type="text" class="form-control" asp-for="BirthPlace" required />
        <span asp-validation-for="BirthPlace" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label class="form-label">Graduated</label>
        <input type="checkbox" asp-for="IsGraduated" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
